Usando a base de dados da [Pesquisa Nacional de Saúde do Escolar - PeNSE](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html) do IBGE.  
Base de dados: [PENSE_2015_AMOSTRA2](https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html?caminho=pense/2015/microdados/).

# Importação dos dados

In [1]:
# imports
import numpy as np
import pandas as pd
from zipfile import ZipFile
import requests
import io
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

In [2]:
# faz download do dataset
url = 'https://github.com/LucasGabrielB/Alura-Bootcamp-Data-Science-Aplicada/raw/main/Modulo-03/datasets/PeNSE_2015_AMOSTRA2.zip'

req = requests.get(url)
zip_file = ZipFile(io.BytesIO(req.content))
zip_file.extractall("datasets")

In [3]:
df = pd.read_csv('/content/datasets/arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV', sep=';', decimal=',')

df.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [4]:
df.shape

(16556, 181)

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

# Analisando os dados

VB01001: Sexo do aluno  
VB17004: Altura do aluno

In [6]:
df.groupby('VB01001')['VB17004'].mean()

VB01001
1    163.860758
2    157.558617
Name: VB17004, dtype: float64

In [7]:
df.groupby(['VB01001', 'VB01003'])['VB17004'].mean()

VB01001  VB01003
1        11         147.617753
         12         153.696764
         13         160.719801
         14         166.406922
         15         170.336297
         16         172.424933
         17         173.814341
         18         173.024561
         19         172.143158
2        11         149.522512
         12         154.965021
         13         157.673105
         14         159.340320
         15         160.759848
         16         160.386527
         17         160.907937
         18         159.438462
         19         158.977193
Name: VB17004, dtype: float64

In [8]:
df_crosstab = pd.crosstab(index=[df['VB01001'], df['VB01003']],
                            values=df['VB17004'],
                            columns='',
                            aggfunc= 'mean')

df_crosstab.rename(index={1: 'Masculino', 2: 'Feminino'})

VB01001    VB01003
Masculino  11         147.617753
           12         153.696764
           13         160.719801
           14         166.406922
           15         170.336297
           16         172.424933
           17         173.814341
           18         173.024561
           19         172.143158
Feminino   11         149.522512
           12         154.965021
           13         157.673105
           14         159.340320
           15         160.759848
           16         160.386527
           17         160.907937
           18         159.438462
           19         158.977193
Name: __dummy__, dtype: float64

## Analisando medidas de disperção

In [9]:
df['MEDIA_ALTURA'] = df['VB17004'].mean()
df[['VB17004', 'MEDIA_ALTURA']].head()

   VB17004  MEDIA_ALTURA
0    157.0    160.713113
1    152.0    160.713113
2    161.4    160.713113
3    172.5    160.713113
4    167.5    160.713113

### Desvio médio absoluto

In [13]:
df['DESVIO_MEDIO_ABSOLUTO'] = abs(df['MEDIA_ALTURA'] - df['VB17004'])
df[['VB17004', 'MEDIA_ALTURA', 'DESVIO_MEDIO_ABSOLUTO']].head()

   VB17004  MEDIA_ALTURA  DESVIO_MEDIO_ABSOLUTO
0    157.0    160.713113               3.713113
1    152.0    160.713113               8.713113
2    161.4    160.713113               0.686887
3    172.5    160.713113              11.786887
4    167.5    160.713113               6.786887

### Quadrado da diferença

In [14]:
df['DIFERENCA_QUADRADO'] = df['DESVIO_MEDIO_ABSOLUTO'] ** 2
df[['VB17004', 'MEDIA_ALTURA', 'DIFERENCA_QUADRADO']].head()

   VB17004  MEDIA_ALTURA  DIFERENCA_QUADRADO
0    157.0    160.713113           13.787209
1    152.0    160.713113           75.918339
2    161.4    160.713113            0.471814
3    172.5    160.713113          138.930703
4    167.5    160.713113           46.061834

### Variância

Populacional:

In [20]:
variance_populational = df['DIFERENCA_QUADRADO'].mean()
variance_populational

106.9105945368652

Amostral:

In [21]:
variance_sample = (1/(len(df)-1)) * df['DIFERENCA_QUADRADO'].sum()
variance_sample

106.91705244049119

### Desvio padrão

Populacional:

In [22]:
variance_populational ** (1/2)

10.339757953495102

Amostral:

In [23]:
variance_sample ** (1/2)

10.340070233827776

## Função que criar um dicionário para facilitar a busca da pergunta

In [11]:
df_dict = pd.read_excel('/content/datasets/Dicionario_PENSE_Microdados_AMOSTRA2.xls')

def get_question_description(colum_name) -> dict:
    ''' Retorna um dicionario contendo a descrição de uma determinada coluna do dataset do PeNSE,
        seguindo o seguinte padrao (exemplo com colum_name='VB01001'):
            {
            'Descrição': {
                '1': 'Masculino',
                '2': 'Feminino'},
            'Pergunta': 'Qual é o seu sexo?'
            }

        Parametros:
            colum_name: nome da coluna do DataFrame
    '''
    return_dict = dict()

    description_row = df_dict.query(f'VARIÁVEL == "{colum_name}"')['QUESTIONÁRIO DO ALUNO']
    return_dict['Pergunta'] = description_row.values[0]
   
    values = list()
    index = description_row.index[0] + 1
    while True:
        value = df_dict.iloc[index]['VARIÁVEL']
        # removendo ' a ' pois alguns numeros estão em intervalos
        # exemplo: 0 a 2999
        if type(value) is int or value.replace(' a ', '').isnumeric():
            values.append([value, df_dict.iloc[index]['QUESTIONÁRIO DO ALUNO']])
            index += 1
        else:
            break
    return_dict['Descrição'] = dict(values)
    
    return return_dict

In [12]:
get_question_description('VB01001')

{'Descrição': {'1': 'Masculino', '2': 'Feminino'},
 'Pergunta': 'Qual é o seu sexo?'}