Usando a base de dados da [Pesquisa Nacional de Sa√∫de do Escolar - PeNSE](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html) do IBGE.  
Base de dados: [PENSE_2015_AMOSTRA2](https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html?caminho=pense/2015/microdados/).

In [1]:
# imports
import pandas as pd
from zipfile import ZipFile
import requests
import io

In [2]:
# faz download do dataset
url = 'https://github.com/LucasGabrielB/Alura-Bootcamp-Data-Science-Aplicada/raw/main/Modulo-03/datasets/PeNSE_2015_AMOSTRA2.zip'

req = requests.get(url)
zip_file = ZipFile(io.BytesIO(req.content))
zip_file.extractall("datasets")

In [3]:
df = pd.read_csv('/content/datasets/arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV', sep=';', decimal=',')

df.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [4]:
df.shape

(16556, 181)

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

# Clasificando algumas perguntas como *Qualitativas* ou *Quantidades*  
Qual √© o seu sexo?  
(*VB01001 √© qualitativa nominal*)  

Voc√™ tem acesso √† internet em sua casa?  
(*VB01016 √© qualitativa nominal*)  
  
Alguma vez na vida voc√™ j√° fumou cigarro, mesmo uma ou duas tragadas?
(*VB04001 √© qualitativa nominal*)  
  
Nos ultimos 7 dias, em quantos dias pessoas fumaram na sua presen√ßa?  
(*VB04005 √© qualitativa ordinal*)  
  
Algum de seus pais ou respons√°veis fuma?  
(*VB04006A √© qualitativa ordinal*)